.header-container {
  width: 100%;
  height: 100px;
  background-color: #272727;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.header-webiste-logo {
  height: 50px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header-buttons-container-mobile {
  display: flex;
  flex-direction: row;
}
.header-icons {
  color: #ffffff;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.header-buttons-container-laptops {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.header-home-jobs-container {
  display: flex;
  align-items: center;
}
.header-home-job {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
}
.header-logout-button {
  border-width: 0px;
  border-radius: 4px;
  height: 40px;
  width: 140px;
  background-color: #4f46e5;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 700;
}
.header-link-style {
  text-decoration: none;
}
@media all and (min-width: 768px) {
  .header-container {
    height: 150px;
  }
  .header-webiste-logo {
    height: 80px;
    width: 150px;
  }
  .header-buttons-container-mobile {
    display: none;
  }
  .header-buttons-container-laptops {
    display: flex;
  }
}
